<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Page de résultat </title>
</head>
<body>
Bonjour, {{nom}}, vous avez (ou vous allez avoir cette année) {{age_actuel}} ans.<br>
Vous êtes mineur(e).
</body>
</html>